
.vs/Prueba_Control/DesignTimeBuild/.dtbcache.v2
.vs/Prueba_Control/FileContentIndex/5b9e068e-62e5-461b-b2a3-7352b5738d5c.vsidx
.vs/Prueba_Control/FileContentIndex/6b478ffd-e823-4f41-94ce-b275f9d1fd53.vsidx
.vs/Prueba_Control/FileContentIndex/6d236095-e821-4239-9363-bc4a496d3dda.vsidx
.vs/Prueba_Control/FileContentIndex/6e90c55a-f288-474f-be41-c3f320aa2864.vsidx
.vs/Prueba_Control/FileContentIndex/7a7350b0-266c-4de4-a89d-fc88477c0ac6.vsidx
.vs/Prueba_Control/FileContentIndex/cc04007e-324f-419b-9703-586b058d03bd.vsidx
.vs/Prueba_Control/FileContentIndex/d99574f8-e0cc-480b-a679-eaf63cbb4240.vsidx
.vs/Prueba_Control/FileContentIndex/df65c51c-782d-4070-9278-9e0ea347853c.vsidx
.vs/Prueba_Control/v17/.suo
.vs/Prueba_Control/v17/DocumentLayout.json
